body {
  font-size: 20px;
  font-family: Calibri;
  background-color: #03a9f429;
}

header, section {
  border-bottom: 1px black solid;
  padding-bottom: 2em;
}

#register-section>* {
  margin-top: 1em;
}

table, td, th {
  border: 1px solid black;
  padding: 10px;
}

table {
  border-collapse: collapse;
  margin: 20px;
}
